<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="users">
              <span data-feather="shopping-cart"></span>
              Usuario
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="autor">
              <span data-feather="bar-chart-2"></span>
              Autor
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="libro">
              <span data-feather="Libro"></span>
              Libros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reserva">
              <span data-feather="reserva"></span>
              Reservar Libro
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="disposicion">
              <span data-feather="layers"></span>
              Disposiciones COVID-19
            </a>
          </li>
        </ul>


      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-footer></app-footer>
