<H1>Disposiciones Covid-19</H1>
<p></p>

<p style=”text-align:justify”> La biblioteca YachayWasi viene reanudando de forma progresiva la atención presencial
  para el préstamo de libros. En concordancia con nuestros protocolos y la normativa vigente durante
  este periodo de emergencia sanitaria, hemos implementado la reserva de libros para préstamo a domicilio.
  En ese sentido se atenderá en el horario de 9:00 a.m. a 4:00 p.m. que se distribuirá de la siguiente manera:</p>

<p> ⌚ De 09:00 a.m. a 12:00 m. </p>
<p> ⌚ De 01:00 p.m. a 04:00 p.m.</p>

<p> Tener en cuenta que para el préstamo de libros a domicilio o visualizar online se requiere haberse registrado.</p>
<p> </p>


<p>Compartimos contigo los protocolos de prevención implementados en la biblioteca que nos han ayudado a transformar
  en un lugar seguro para ti:</p>


<p> ☑ Al ingresar te estaremos tomando la temperatura </p>
<p> ☑ Te pedimos el uso obligatorio de mascarillas </p>
<p> ☑ El aforo de la biblioteca se ha reducido al 50% para promover el distanciamiento social </p>
<p> ☑ Cerca a las puerta de ingreso y en distintas ubicaciones dentro de la biblioteca
  están disponibles dispensadores de alcohol gel. Te recomendamos hacer uso de ellos.</p>
<p> ☑ Para cuidar el distanciamiento social hemos implementado señalética en el piso. </p>
<p> ☑ Por disposición del Gobierno, no está permitido el ingreso de menores de edad. </p>
<p> ☑ Los empleados de la biblioteca usarán en todo momento una mascarilla y protector facial</p>
